.body {
    margin: 0;
}
* {
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}
:root {
    --background-color: #ffffff;
    --text-color: #000000;
    --accent-color: #007bff;
}
   
body {
    background-color: var(--background-color);
    color: var(--text-color);
}
   
a {
    color: var(--accent-color);
}
@media (prefers-color-scheme: dark) {
    :root {
      --background-color: #222222;
      --text-color: #ffffff;
      --accent-color: #00a7ff;
    }
}
body.dark-theme {
    --background-color: #ffffff;
    --text-color: #000000;
    --accent-color: #007bff;
}

#head {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
#head p {
    font-size: 45px;
    margin: 30px auto;
}
#head #main_nav {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px 0px 20px;
    font-size: 25px;
}
#head #main_nav a {
    text-decoration: none;
    border: 5px ridge black;
    padding: 10px;
}
#head button {
    position: absolute;
    right: 5%;
    top: 5%;
}
#head #mini_nav {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    margin-top: 50px;
    text-align: center;
}
#head #mini_nav a {
    display: flex;
    align-items: center;
    text-decoration: none;
    border: 5px ridge black;
    padding: 5px;
}