.body {
    margin: 0;
}
* {
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}
:root {
    --background-color: #ffffff;
    --text-color: #000000;
    --accent-color: #007bff;
}
   
body {
    background-color: var(--background-color);
    color: var(--text-color);
}
   
a {
    color: var(--accent-color);
}
@media (prefers-color-scheme: dark) {
    :root {
      --background-color: #222222;
      --text-color: #ffffff;
      --accent-color: #00a7ff;
    }
}
body.dark-theme {
    --background-color: #ffffff;
    --text-color: #000000;
    --accent-color: #007bff;
}
/* Dropdown Button */
.dropbtn {
    padding: 16px;
    font-size: 16px;
    background-color: rgba(255,255,255,0.0);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    margin-left: 200px;
    display: inline-block;
}
#first {
    margin-left: 110px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: white;}

#head {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
#head p {
    font-size: 45px;
    margin: 30px auto;
}
#head #main_nav {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px 0px 20px;
    font-size: 25px;
}
#head #main_nav a {
    text-decoration: none;
    border: 5px ridge black;
    padding: 10px;
}
#head button {
    position: absolute;
    right: 5%;
    top: 5%;
}
#head #mini_nav {
    display: flex;
    font-size: 18px;
    margin-top: 50px;
    height: 200px;
    text-align: center;
    border: 1px solid red;
}
#head #mini_nav a {
    display: flex;
    align-items: center;
    text-decoration: none;
    border: 5px ridge black;
    padding: 5px;
}