.body {
    margin: 0;
}
* {
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}
:root {
    --background-color: #222222;
    --text-color: #ffffff;
    --accent-color: #ffffff;
    --background-color-dropdown: #ffffff;
}
   
body {
    background-color: var(--background-color);
    color: var(--text-color);
}
   
a {
    color: var(--accent-color);
}
button {
    color: var(--accent-color);
    background-color: var(--background-color);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #ffffff;
        --text-color: #000000;
        --accent-color: #000000;
        --background-color-dropdown: #ffffff;
        --background-color-main: rgba(255,255,255,0.3);
    }
}
body.dark-theme {
    --background-color: #222222;
    --text-color: #ffffff;
    --accent-color: #ffffff;
    --background-color-dropdown: #222222;
    --background-color-main: rgba(0,0,0,0.3);
}
/* Dropdown Button */
.dropbtn {
    padding: 16px;
    font-size: 16px;
    background-color: rgba(255,255,255,0.0);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    background-color: var(--background-color);
}
.dropdown2 { 
    position: relative;
    background-color: var(--background-color);
}
#first .dropbtn {
    /* height: 63px; */
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    font-size: 16px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content2 {
    display: none;
    position: absolute;
    left: 100%;
    top: 0px;
    min-width: 100%;
    font-size: 16px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a, .dropdown-content2 a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    justify-content: center;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: rgba(204, 133, 255, 0.4);}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block; background-color: var(--background-color-dropdown)}
.dropdown2:hover .dropdown-content2 {display: grid; grid-template-columns: 1fr 1fr 1fr; background-color: var(--background-color-dropdown)}
.dropdown2:hover .dropdown-content2 #last {grid-column: 1/4}
.dropdown2:hover .dropdown-content2 #last1 {grid-column: 2/4}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: rgba(204, 133, 255, 0.4); }

/* Стили для телефонов */
.dropdown_mobile {
    display: none;
}
.dropbtn_mobile #menu_icon {
    display: none;
}
.dropdown-content_mobile {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/*  */

#wrapper {
    max-width: 1500px;
    margin: 0 auto;
}

#background {
    position: fixed;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
}
#head {
    width: 63%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}
#head p {
    font-size: 45px;
    margin: 30px auto;
    backdrop-filter: blur(3px);
}
#head #main_nav {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
}
#head #main_nav .active {
    background-color: rgba(204, 133, 255, 0.4);
}
#head #main_nav a {
    text-decoration: none;
    border: 5px ridge black;
    padding: 10px;
    backdrop-filter: blur(5px);
}
#head #main_nav a:hover {
    background-color: rgba(204, 133, 255, 0.4);
}
#head button {
    position: absolute;
    right: 5%;
    top: 5%;
}
#head #mini_nav {
    display: flex;
    justify-content: space-evenly;
    font-size: 18px;
    margin-top: 50px;
    text-align: center;
}
#head #mini_nav a {
    display: flex;
    align-items: center;
    text-decoration: none;
    border: 5px ridge black;
    padding: 5px;
}
#main {
    margin: 50px auto;
    backdrop-filter: blur(3px);
    border-radius: 10px;
    width: 90%;
    background-color: var(--background-color-main);
}
#main .title {
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    padding-top: 50px;
}
#main .mini_title {
    text-align: center;
    font-size: 30px;
}
#main .micro_title {
    text-align: center;
    font-size: 25px;
    margin-bottom: 50px;
    font-weight: 700;
}
#main .micro_pod_title {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 50px;
}
#main .text {
    font-size: 22px;
    line-height: 37px;
    padding: 0px 50px 0px 50px;
    width: 70%;
    margin: 0 auto;
    text-align: justify;    
}
#main .hint {
    display: grid;
    grid-template-columns: 1fr 0.1fr 1fr;
    border: 1px solid var(--accent-color);
    row-gap: 40px;
    padding: 30px;
    font-size: 20px;
    width: 70%;
    margin: 50px auto;
    text-align: center;
}
#main .hint .solo {
    grid-column: 1/4;
    /* grid-row: 2/3; */
}
#main .hint_table {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px solid var(--accent-color);
    width: 70%;
    font-size: 20px;
    margin: 50px auto;
    text-align: center;
}
#main .hint_table div {
    border: 1px solid var(--accent-color);
    padding: 2%;
}
#main .hint_2 {
    display: grid;
    border: 1px solid var(--accent-color);
    padding: 40px;
    width: 70%;
    font-size: 20px;
    margin: 50px auto;
    text-align: center;
}
#main .hints {
    grid-column: 1/4;
    font-size: 24px;
    text-align: center;
    font-weight: 600;
}
#main .hint_img img {
    width: 80%;
}
#main .hr_hint {
    grid-column: 2/3;
    grid-row: 2/10;
}
#main .hr_hint_os1 {
    grid-row: 3/5;
    grid-column: 2/3;
}
#main .hr_hint_os2 {
    grid-column: 2/3;
    grid-row: 6/8;
}
#main .hr_hint_os3 {
    grid-column: 2/3;
    grid-row: 9/11;
}
#main .ht_hint_os4 {
    grid-column: 2/3;
    grid-row: 3/8;
}


#main .vector::before {
    content: "→";
    position:  relative;
    top: -10px;
    left: 15px;
    margin-left: -15px;
}

#back_to_top {
    position: fixed;
    right: 3%;
    bottom: 5%;
    padding: 10px;
    border-radius: 50%;
    background-color: rgba(204, 133, 255, 0.4);
    z-index: 10;
}
#back_to_top img {
    width: 40px;
    height: 40px;
}

#line_footer {
    margin: 100px 0 20px 0;
}
#footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin: 0px auto;
    text-align: center;
}
#footer img {  
    width: 50px;
    height: 50px;
}



@media (max-width: 1200px) {
    #wrapper {
        width: 100%;
    }
    #head {
        width: 90%;
        margin: 50px auto;
    }
    #head p {
        font-size: 20px;
    }
    #head #main_nav {
        font-size: 12px;
    }
    #head #main_nav a {
        padding: 10px 4px;
        border: 3px ridge black;
    }
    #head button {
        position: absolute;
        right: 1%;
        top: 1%;
        font-size: 12px;
    }
    #head #mini_nav {
        margin: 0;
    }
    #main {
        width: 100%;
        margin: 0px auto;
    }
    #main .text {
        width: 100%;
        padding: 0px 10px 0px 10px;
        font-size: 16px;
    }   
    #main .hints {
        font-size: 16px;
    }
    #main .text_hints {
        font-size: 16px;
    }
    #main .title {
        font-size: 25px;
    }
    #main .mini_title {
        font-size: 20px;
    }
    #main .micro_title {
        font-size: 20px;
        font-weight: 700;
    }
    #main .text {
        font-size: 18px;
        line-height: 30px;
        text-align: left;
    }
     #main .hint_2 {
        width: 100%;
        font-size: 16px;
    } 
    #main .hint {
        width: 100%;   
        padding: 0;
        padding-bottom: 20px;
        font-size: 16px;
    }
    #main .hint_table {
        width: 100%;
        font-size: 16px;
    }
    #main .hint_img img {
        width: 100%;
    }
    #main .hr_hint {
        grid-column: 2/3;
        grid-row: 2/10;
    }
    #main .hr_hint_os1 {
        grid-row: 3/5;
        grid-column: 2/3;
    }
    #main .hr_hint_os2 {
        grid-column: 2/3;
    }

    .dropdown {
        display: none;
    }
    .dropdown_content {
        display: none;
    }
    /* Меню для телефонов */ 
    .dropbtn_mobile #menu_icon {
        display: block;
        width: 30px;
        height: 30px;
    }
    .dropbtn_mobile {
        display: block;
        background-color: #f1f1f1;
        color: var(--text-color);
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }
  
    .dropbtn_mobile:hover, .dropbtn_mobile:focus {
        background-color: #f1f1f1;
    }
  
    .dropdown_mobile {
        display: block;
        position: absolute;
        top: 1%;
        left: 1%;
    }
  
    .dropdown-content_mobile {
        display: none;
        position: absolute;
        border-radius: 0 10px 10px 0;
        min-width: 160px;
        height: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
  
    .dropdown-content_mobile a {
        color: var();
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

  
    .dropdown_mobile a:hover {background-color: #ddd;}
  
    .show {display: grid; grid-template-columns: 1fr 0.20fr;}

    /* Для подтем */

    .dropbtn_mobile2 {
        display: block;
        backdrop-filter: blur(3px);
        color: var(--text-color);
        padding: 16px;
        font-size: 12px;
        border: none;
        cursor: pointer;
    }
  
    .dropdown_mobile2 {
        display: block;
        position: relative;
    }
  
    .dropdown-content_mobile2 {
        display: none;
        position: absolute;
        backdrop-filter: blur(3px);
        border-radius: 0 10px 10px 0;
        left: 100%;
        top: 0px;
        min-width: 160px;
        font-size: 12px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    .dropdown-content_mobile2_2 {
        display: none;
        position: absolute;
        left: 100%;
        top: 0px;
        backdrop-filter: blur(3px);
        min-width: 160px;
        font-size: 12px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
  
    .dropdown-content_mobile2 a {
        color: var();
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
  

    .dropdown_mobile2:hover .dropdown-content_mobile2 {display: grid; width: 160px; grid-template-columns: 1fr 0.2fr;}
    .dropdown_mobile2:hover .dropdown-content_mobile2_2 {display: block; width:  160px;}
    .dropdown_mobile2:hover .dropdown-content_mobile {width: 160px;}

    /* Для подтем подтем */

    .dropbtn_mobile3 {
        display: block;
        color: var(--text-color);
        padding: 16px;
        font-size: 12px;
        border: none;
        cursor: pointer;
    }
  
  
    .dropdown_mobile3 {
        display: block;
        position: relative;
    }
  
    .dropdown-content_mobile3 {
        display: none;
        position: absolute;
        right: 100%;
        top: 0px;
        background-color: var(--background-color-dropdown);
        min-width: 160px;
        font-size: 12px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
  
    .dropdown-content_mobile3 a {
        color: var();
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
  

    .dropdown_mobile3:hover .dropdown-content_mobile3 {display: block; width: 160px; border: 5px ridge rgba(108, 1, 185, 0.4); }

    .dropdown_mobile3:hover .dropdown-content_mobile2 {width: 160px;}
}

